<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "MusicGroup",
    "name": "Русский Маяк",
    "url": "https://russkiy-mayak.ru/",
    "genre": "Патриотическая музыка",
    "description": "Музыкальная группа, сочетающая творчество с волонтёрской деятельностью: концерты в госпиталях, поездки в зону СВО и благотворительные сборы для военнослужащих.",
    "sameAs": [
      "https://vk.com/russkiy_mayak",
      "https://t.me/russkiy_mayak",
      "https://youtube.com/@russkiy_mayak"
    ]
  }
</script>
